<!DOCTYPE html>
<html>
<head>
	<title>Sujata's Design Studio</title>
	{% include 'head.html' %}
</head>
<body>
    {% include 'navbar.html' %}
    <br>
    <div class="container" style="padding:40px">
        <h3  style="text-align: center;">Customer Details</h3>
        <br>
        
        <!-- Name  -->
        <div class="row">
            <div class="col-20">
                <label>Name</label>
            </div>
            <div class="col-80">
                <h6 class="box"> {{ customerData["name"] }} </h6>
            </div>
        </div>
        <!-- Address  -->
        <div class="row">
            <div class="col-20">
                <label>Address</label>
            </div>
            <div class="col-80">
                <h6 class="box"> {{ customerData["address"] }}</h6>
            </div>
        </div>
        <!-- Contact  -->
        <div class="row">
            <div class="col-20" style="width: 10%">
                <label>Phone</label>
            </div>
            <div class="col-20" style="width: 20%">
                <h6 class="box"> {{ customerData["phone"] }} </h6>
            </div>
            <div class="col-20" style="width: 10%; padding-left: 40px;">
                <label>Email</label>
            </div>
            <div class="col-20" style="width: 60%">
                <h6 class="box"> {{ customerData["email"] }} </h6>
            </div>
        </div>
        <br>
    
    </div>

</body>
</html>