<!DOCTYPE html>
<div>
<head>
	<title>Sujata's Design Studio</title>
	{% include 'head.html' %}
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container" style="padding: 40px;">
        <form action="/customer/searchCustomerDetails">
            <div class="row">
                <div class="col-40">
                    <input type="text" id="name" name="name" placeholder="Client Name">
                </div>
                <div class="col-40">
                    <input type="text" id="phone" name="phone" placeholder="Client Phone Number">
                </div>
                <!-- <div class="col" style="width: 1%;"></div> -->
                <div class="col-20" >
                    <input type="submit" value="Search">
                </div>
            </div>
        </form> 

        <br><br>

        <form action="/customer/new">
            <div class="row">
                <!-- Add new Customer -->
                <div class="col-100" >
                    <input type="submit" value="Add New Customer Data">
                </div>
            </div>
        </form>
    
    </div>
</body>